[Desktop Entry]
Encoding=UTF-8
Name=Serial Ports
Name[da]=Serielle porte
Name[fi]=Sarjaportit
Name[fr]=Ports Série
Name[id]=Pangkalan Serial
Name[ja]=シリアルポート
Name[ko]=시리얼 포트
Name[nl]=Seriële poorten
Name[pt_BR]=Portas Seriais
Name[ro]= Porturi Seriale
Name[ru]=Последовательные порты
Name[sl]=Serijska vrata
Name[sv]=Serieportar
Name[vi]=Cổng nối tiếp
Name[wa]=Pôrts séreye
Name[zh_CN]=串行口
Comment=Serial Port Settings
Comment[cs]=Nastavení sériového portu
Comment[da]=Indstillinger for seriel port
Comment[de]=Einstellungen für serielle Ports
Comment[fi]=Sarjaliikenneasetukset
Comment[fr]=Paramètres du port série
Comment[id]=Pengaturan Pangkalan Serial
Comment[ja]=シリアルポート設定
Comment[ko]=시리얼 포트 설정
Comment[nl]=Seriële poort instellingen
Comment[pt]=Configuração da Porta de Série
Comment[pt_BR]=Configuração da Porta Serial
Comment[ro]=Setări Porturi Seriale
Comment[ru]=Параметры последовательного порта
Comment[sk]=Nastavenia sériového rozhrania
Comment[sl]=Nastavitve serijskih vrat
Comment[sv]=Inställningar för serieport
Comment[vi]=Thiết lập cổng nối tiếp
Comment[wa]=Apontiaedjes pôrt séreye
Comment[zh_CN]=串行口设置
Exec=gpe-conf serial
Terminal=false
Type=Application
Icon=gpe-config-serial.png
Categories=Application;SystemSettings;GPE;
StartupNotify=true
X-SingleInstance=true
