[Desktop Entry]
Encoding=UTF-8
Name=Sleep Config
Name[cs]=Nastavení spánku
Name[da]=Konfig af sovetilstand
Name[de]=Schlafen
Name[fi]=Valmiustilaasetus
Name[fr]=Mise en veille
Name[id]=Pengaturan Tidur
Name[ja]=スリープ設定
Name[ko]=끄기 구성
Name[nl]=Slaapconfiguratie
Name[pt]=Configuração de Suspensão
Name[pt_BR]=Configuração de Suspensão
Name[ro]=Configurare Adormire
Name[ru]=Настройка спящего режима
Name[sk]=Konfigurácia uspávania
Name[sl]=Nastavitev spanja
Name[sv]=Konfiguration av viloläge
Name[vi]=Cấu hình ngủ
Name[wa]=Apontiaedje essoctaedje
Name[zh_CN]=休眠配置
Comment=Sleep Configuration
Comment[cs]=Nastavení spánku
Comment[da]=Konfiguration af sovetilstand
Comment[de]=Schlaf-Konfiguration.
Comment[fi]=Valmiustila-asetukset
Comment[fr]=Configuration de la mise en veille.
Comment[id]=Konfigurasi Tidur
Comment[ja]=スリープ設定
Comment[ko]=끄기 구성
Comment[nl]=Slaapconfiguratie
Comment[pt]=Configuração de Suspensão
Comment[pt_BR]=Configuração de Suspensão
Comment[ro]=Configuraţie Adormire
Comment[ru]=Настройка перехода в спящий режим
Comment[sk]=Konfigurácia uspávania
Comment[sl]=Nastavitve spanja
Comment[sv]=Konfiguration av viloläge
Comment[vi]=Cấu hình ứng xử ngủ
Comment[wa]=Apontiaedje di l' essoctaedje (sleep)
Comment[zh_CN]=休眠配置
Exec=gpe-conf sleep
Terminal=false
Type=Application
Icon=gpe-config-sleep.png
Categories=Application;SystemSettings;GPE;
StartupNotify=true
X-SingleInstance=true
