[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Chromium
Exec=/usr/bin/chrome-wrapper %U
Terminal=false
Icon=/usr/bin/product_logo_48.png
Type=Application
Categories=Application;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;
