[Desktop Entry]
Encoding=UTF-8
Name=System Info
Name[da]=Systeminfo
Name[fi]=Järjestelmätiedot
Name[fr]=Système
Name[id]=Info Sistem
Name[ja]=システム情報
Name[ko]=시스템 정보
Name[nl]=Systeeminfo
Name[pt_BR]=Info do Sistema
Name[ro]=Informaţii sistem
Name[ru]=Информация о системе
Name[sl]=Podrobnosti sistema
Name[sv]=Systeminformation
Name[vi]=Thông tin hệ thống
Name[wa]=Informåcion sistinme
Name[zh_CN]=系统信息
Comment=System Information
Comment[da]=Systeminformation
Comment[fi]=Järjestelmätiedot
Comment[fr]=Information
Comment[id]=Informasi Sistem
Comment[ja]=システム情報
Comment[ko]=시스템 정보
Comment[nl]=Systeeminformatie
Comment[pt_BR]=Informação do Sistema
Comment[ro]=Informaţii Sistem
Comment[ru]=Информация о системе
Comment[sl]=Podrobnosti sistema
Comment[sv]=Systeminformation
Comment[vi]=Thông tin hệ thống
Comment[wa]=Informåcion do sistinme
Comment[zh_CN]=系统信息
Exec=gpe-info
Terminal=false
Type=Application
Icon=gpe-config-sysinfo.png
Categories=Utility;GPE;
StartupNotify=true
X-SingleInstance=true
