[Desktop Entry]
Encoding=UTF-8
Name=Login Setup
Name[cs]=Nastavení přihlašování
Name[da]=Logindopsætning
Name[de]=Login-Einstellungen
Name[fi]=Sisäänkirjausasetukset
Name[fr]=Sessions
Name[id]=Pengaturan Log Masuk
Name[ja]=ログイン設定
Name[ko]=로그인 설정
Name[nl]=Aanmeldingsinstellingen
Name[pt]=Configuração do Login
Name[pt_BR]=Configuração do Login
Name[ro]=Setare Login
Name[ru]=Настройка входа в систему
Name[sk]=Nastavenie prihlásenia
Name[sl]=Nastavitve prijave
Name[sv]=Inloggningskonfiguration
Name[vi]=Thiết lập đăng nhập
Name[wa]=Apontiaedje d' elodjaedje
Name[zh_CN]=登录设置
Comment=Login Setup
Comment[cs]=Nastavení přihlašování
Comment[da]=Logindopsætning
Comment[de]=Login-Einstellungen
Comment[fi]=Sisäänkirjausasetukset
Comment[fr]=Sessions
Comment[id]=Pengaturan Log Masuk
Comment[ja]=ログイン設定
Comment[ko]=로그인 설정
Comment[nl]=Aanmeldingsinstellingen
Comment[pt]=Configuração do Login
Comment[pt_BR]=Configuração do Login
Comment[ro]=Setare Login
Comment[ru]=Настройка входа в систему
Comment[sk]=Nastavenie prihlásenia
Comment[sl]=Nastavitve prijave
Comment[sv]=Inloggningskonfiguration
Comment[vi]=Thiết lập đăng nhập
Comment[wa]=Apontiaedje d' elodjaedje
Comment[zh_CN]=登录设置
Exec=gpe-conf login-setup
Terminal=false
Type=Application
Icon=gpe-config-login-setup.png
Categories=Application;SystemSettings;GPE;
StartupNotify=true
X-SingleInstance=true
