[Desktop Entry]
Encoding=UTF-8
Name=User Manager
Name[cs]=Spravovat nastavení uživatelů
Name[da]=Brugerhåndtering
Name[de]=Benutzer-Manager
Name[fi]=Käyttäjähallinnointi
Name[fr]=Utilisateurs
Name[id]=Manajer Pengguna
Name[ja]=ユーザ マネージャ
Name[ko]=사용자 관리자
Name[nl]=Gebruikersbeheer
Name[pt]=Gerenciar Utilizadores
Name[pt_BR]=Gerenciar Usuários
Name[ro]=Managerul de utilizatori
Name[ru]=Менеджер пользователей
Name[sk]=Správca používateľov
Name[sl]=Upravljalec uporabnikov
Name[sv]=Användarhanterare
Name[vi]=Bộ quản lý người dùng
Name[wa]=Manaedjeu des uzeus
Name[zh_CN]=用户管理
Comment=Manage local users
Comment[da]=Håndter lokale brugere
Comment[fi]=Hallinnoi paikallisia käyttäjiä
Comment[fr]=Gestion des utilisateurs du système
Comment[id]=Atur pengguna lokal
Comment[ja]=ローカルユーザの管理
Comment[ko]=사용자 관리
Comment[nl]=Lokale gebruikers beheren
Comment[pt_BR]=Gerenciar usuários
Comment[ro]=Administrare utilizatori locali
Comment[ru]=Управление локальными пользователями
Comment[sl]=Upravljanje z uporabniki
Comment[sv]=Hantera lokala användare
Comment[vi]=Quản lý các người dùng cục bộ
Comment[wa]=Manaedjî les uzeus locås
Comment[zh_CN]=管理本地用户
Exec=gpe-conf users
Terminal=false
Type=Application
Icon=gpe-config-users.png
Categories=Application;SystemSettings;GPE;
X-StartupNotify=true
SingleInstance=true
