[Desktop Entry]
Encoding=UTF-8
Name=Screen Setup
Name[cs]=Nastavení displeje
Name[da]=Skærmopsætning
Name[de]=Bildschirmeinstellungen
Name[fi]=Näyttöasetukset
Name[fr]=Écran
Name[id]=Pengaturan Layar
Name[ja]=画面設定
Name[ko]=화면 설정
Name[nl]=Scherminstellingen
Name[pt]=Configuração do Ecrã
Name[pt_BR]=Configuração da Tela
Name[ro]=Setare screen
Name[ru]=Настройка экрана
Name[sk]=Nastavenie obrazovky
Name[sl]=Nastavitve Ekrana
Name[sv]=Konfiguration av skärm
Name[vi]=Thiết lập màn hình
Name[wa]=Apontiaedje del waitroûle
Name[zh_CN]=屏幕设置
Comment=Screen Setup
Comment[cs]=Nastavení displeje
Comment[da]=Skærmopsætning
Comment[de]=Bildschirmeinstellungen
Comment[fi]=Näyttöasetukset
Comment[fr]=Écran
Comment[id]=Pengaturan Layar
Comment[ja]=画面設定
Comment[ko]=화면 설정
Comment[nl]=Scherminstellingen
Comment[pt]=Configuração do Ecrã
Comment[pt_BR]=Configuração da Tela
Comment[ro]=Setare screen
Comment[ru]=Настройка экрана
Comment[sk]=Nastavenie obrazovky
Comment[sl]=Nastavitve Ekrana
Comment[sv]=Konfiguration av skärm
Comment[vi]=Thiết lập màn hình
Comment[wa]=Apontiaedje del waitroûle
Comment[zh_CN]=屏幕设置
Exec=gpe-conf screen
Terminal=false
Type=Application
Icon=gpe-config-screen.png
Categories=Application;SystemSettings;GPE;
StartupNotify=true
X-SingleInstance=true
