[Desktop Entry]
Encoding=UTF-8
Name=Look and Feel
Name[da]=Udseende og fremtoning
Name[fi]=Käyttötuntuma
Name[fr]=Apparence
Name[id]=Lihat dan Rasakan
Name[ja]=外観
Name[ko]=룩 앤 필
Name[nl]=Uiterlijk en gevoel
Name[pt_BR]=Aparência e Comportamento
Name[ro]=Look and Feel
Name[ru]=Внешнее оформление
Name[sl]=Videz in Občutek
Name[sv]=Utseende och känsla
Name[vi]=Hình thức và Cảm giác
Name[wa]=Rivnance et dujhance
Name[zh_CN]=视觉感观
Comment=Global Appearance Setup
Comment[cs]=Vzhled a písma
Comment[da]=Opsætning for global udseende
Comment[de]=Globales Aussehen
Comment[fi]=Yleiset ulkoasuasetukset
Comment[fr]=Configuration de l'apparence générale
Comment[id]=Pengaturan Tampilan Global
Comment[ja]=全体の外観設定
Comment[ko]=전체 모양 설정
Comment[nl]=Globale instellingen van uiterlijk
Comment[pt]=Configuração de Aparência Global
Comment[pt_BR]=Configuração da Aparência Global
Comment[ro]=Setare Aspect Global
Comment[ru]=Настройка внешнего вида
Comment[sk]=Nastavenie globálneho vzhľadu
Comment[sl]=Nastavitve splošnega videza
Comment[sv]=Konfiguration av globalt utseende
Comment[vi]=Thiết lập hình thức toàn cục
Comment[wa]=Apontiaedje rivnance globåle
Comment[zh_CN]=全局外观设置
Exec=gpe-conf theme
Terminal=false
Type=Application
Icon=gpe-config-theme.png
Categories=Application;SystemSettings;GPE;
StartupNotify=true
X-SingleInstance=true
