[Desktop Entry]
Encoding=UTF-8
Name=Sound Settings
Name[da]=Lydindstillinger
Name[fi]=Ääniasetukset
Name[fr]=Audio
Name[id]=Pengaturan Suara
Name[ja]=サウンド設定
Name[ko]=사운드 설정
Name[nl]=Geluidsinstellingen
Name[ro]=Setări Sunet
Name[ru]=Настройки звука
Name[sl]=Nastavitve zvoka
Name[sv]=Ljudinställningar
Name[vi]=Thiết lập âm thanh
Name[wa]=Apontiaedjes do son
Name[zh_CN]=声音设置
Comment=Sound defaults and setup
Comment[da]=Lydstandard og -opsætning
Comment[fi]=Ääniasetukset ja -oletukset
Comment[fr]=Configuration Audio
Comment[id]=Standar suara dan pengaturan
Comment[ja]=サウンドのデフォルトと設定
Comment[ko]=사운드 기본과 설정
Comment[nl]=Geluidsstandaardwaarden en -instellingen
Comment[ro]=Valori implicite sunet şi setare
Comment[ru]=Звуки по умолчанию и настроек
Comment[sl]=Privzete zvočne nastavitve
Comment[sv]=Ljud-standardalternativ och -konfiguration
Comment[vi]=Giá trị mặc định và thiết lập âm thanh
Comment[wa]=Prémetowès valixhances ey apontiaedje po l' son
Comment[zh_CN]=默认声音和设置
Exec=gpe-conf sound
Terminal=false
Type=Application
Icon=gpe-config-sound.png
Categories=Application;SystemSettings;GPE;
StartupNotify=true
X-SingleInstance=true
