[Desktop Entry]
Encoding=UTF-8
Name=USB Settings
Name[da]=USB-indstillinger
Name[fi]=USB-asetukset
Name[id]=Pengaturan USB
Name[ja]=USB 設定
Name[nl]=USB-instellingen
Name[sl]=USB nastavitve
Name[sv]=USB-inställningar
Name[vi]=Thiết lập USB
Name[wa]=Apontiaedjes USB
Name[zh_CN]=USB 设置
Comment=Change USB settings
Comment[da]=Ændr USB-indstillinger
Comment[fi]=Muuta USB-asetuksia
Comment[id]=Ubah Pengaturan USB
Comment[ja]=USB 設定を変更します
Comment[nl]=USB-instellingen wijzigen
Comment[sl]=Spremeni USB nastavitve
Comment[sv]=Ändra USB-inställningar
Comment[vi]=Đổi thiết lập GPS
Comment[wa]=Candjî apontiaedjes USB
Comment[zh_CN]=更改 USB 设置
Exec=gpe-conf usb
Terminal=false
Type=Application
Icon=pccard-usb.png
Categories=Application;SystemSettings;GPE;
X-StartupNotify=true
SingleInstance=true
