[Desktop Entry]
Encoding=UTF-8
Name=User Access
Name[cs]=Přístup uživatelů
Name[da]=Brugeradgang
Name[de]=Benutzerzugriff
Name[fi]=Käyttäjäoikeudet
Name[fr]=Accès Utilisateur
Name[id]=Akses Pengguna
Name[ja]=ユーザアクセス
Name[ko]=사용자 제어
Name[nl]=Gebruikerstoegang
Name[pt]=Acesso do Utilizador
Name[pt_BR]=Acesso do Usuário
Name[ro]=Acces utilizator
Name[ru]=Доступ пользователей
Name[sk]=Práva používateľa
Name[sl]=Uporabniški dostop
Name[sv]=Användaråtkomst
Name[vi]=Truy cập người dùng
Name[wa]=Accès uzeu
Name[zh_CN]=用户权限
Comment=User access administration
Comment[cs]=Nastavení přístupu uživatelů
Comment[da]=Administration af brugeradgang
Comment[de]=Administrierung des Benutzerzugriffs
Comment[fi]=Käyttäjäoikeuksien hallinta
Comment[fr]=Accès des utilisateurs au système
Comment[id]=Administrasi akses pengguna
Comment[ja]=ユーザアクセス管理
Comment[ko]=사용자 제어 관리
Comment[nl]=Gebruikerstoegangbeheer
Comment[pt]=Administração do acesso do utilizador
Comment[pt_BR]=Administração do acesso do usuário
Comment[ro]=Administraţie acces utilizator
Comment[ru]=Администрирование доступа пользователей
Comment[sk]=Správa prístupových práv používateľa
Comment[sl]=Administracija uporabniškega dostopa
Comment[sv]=Administration av användaråtkomst
Comment[vi]=Quản lý truy cập người dùng
Comment[wa]=Manaedjaedje accès des uzeus
Comment[zh_CN]=用户权限管理
Exec=gpe-conf admin
Terminal=false
Type=Application
Icon=gpe-config-admin.png
Categories=Application;SystemSettings;GPE;
X-StartupNotify=true
SingleInstance=true
