[Desktop Entry]
Encoding=UTF-8
Name=Keys and Buttons
Name[da]=Taster og knapper
Name[fi]=Näppäimet ja painikkeet
Name[id]=Kunci dan Tombol
Name[ja]=キーとボタン
Name[ko]=키와 버튼
Name[nl]=Toetsenbord en knoppen
Name[ru]=Клавиши и кнопки
Name[sl]=Tipke in Gumbi
Name[sv]=Tangenter och knappar
Name[vi]=Phím và Nút
Name[wa]=Tapes et botons
Name[zh_CN]=按键和按钮
Comment=Keyboard and Button Setup
Comment[da]=Tastatur- og knapopsætning
Comment[fi]=Näppäimistö- ja painikeasetukset
Comment[id]=Pengaturan Papan Ketik dan Tombol
Comment[ja]=キーボードとボタンの設定
Comment[ko]=키보드와 버튼 설정
Comment[nl]=Toetsenbord- en knoppeninstellingen
Comment[ru]=Настройка клавиатуры и кнопок
Comment[sl]=Nastavitve tipkovnice in gumbov
Comment[sv]=Tangentbord och tangentkonfiguration
Comment[vi]=Thiết lập bàn phím và cái nút
Comment[wa]=Apontiaedje des tapes et botons
Comment[zh_CN]=键盘和按钮设置
Exec=gpe-conf keys
Terminal=false
Type=Application
Icon=gpe-config-kbd.png
Categories=Application;SystemSettings;GPE;
StartupNotify=true
X-SingleInstance=true
