[Desktop Entry]
Encoding=UTF-8
Name=Owner Information
Name[cs]=Informace o majiteli
Name[da]=Ejerinformation
Name[de]=Benutzerinformation
Name[fi]=Omistajatiedot
Name[fr]=Proprio
Name[id]=Informasi Pemilik
Name[ja]=所有者情報
Name[ko]=소유자 정보
Name[nl]=Eigenaarsinformatie
Name[pt]=Informação do Proprietário
Name[pt_BR]=Informação do Proprietário
Name[ro]=Informaţii Proprietar
Name[ru]=Информация о владельце
Name[sk]=Informácie o vlastníkovi
Name[sl]=Podrobnosti o lastniku
Name[sv]=Ägarinformation
Name[vi]=Thông tin người sở hữu
Name[wa]=Informåcion so l' prôpietaire
Name[zh_CN]=所有者信息
Comment=Set Owner Information
Comment[cs]=Nastavit informace o majiteli
Comment[da]=Indtast ejerinformation
Comment[de]=Setze Benutzerinformation
Comment[fi]=Aseta omistajatiedot
Comment[fr]=Enregistrer les informations sur le propriétaire
Comment[id]=Atur Informasi Pengguna
Comment[ja]=所有者情報
Comment[ko]=사용자 정보 설정
Comment[nl]=Eigenaarsinformatie instellen
Comment[pt]=Alterar Informações do Proprietário
Comment[pt_BR]=Alterar Informações do Proprietário
Comment[ro]=Setează Informaţii Proprietar
Comment[ru]=Установить информацию о владельце
Comment[sk]=Nastaviť informácie o vlastníkovi
Comment[sl]=Nastavi podrobnosti lastnika
Comment[sv]=Ställ in ägarinformation
Comment[vi]=Đặt thông tin về người chủ
Comment[wa]=Defini informåcion prôpietaire
Comment[zh_CN]=设置所有者信息
Exec=gpe-conf ownerinfo
Terminal=false
Type=Application
Icon=gpe-config-ownerinfo.png
Categories=Application;SystemSettings;GPE;
StartupNotify=true
X-SingleInstance=true
