[Desktop Entry]
Encoding=UTF-8
Name=PC/CF Cards
Name[cs]=PC/CF karty
Name[da]=PC/CF-kort
Name[de]=PC/CF-Karten
Name[fi]=PC/CF-kortit
Name[fr]=Cartes PC/CF
Name[id]=Kartu PC/CF
Name[ja]=PC/CF カード
Name[ko]=PC/CF 카드
Name[nl]=PC/CF-kaarten
Name[pt]=Cartões PC/CF
Name[pt_BR]=Cartões PC/CF
Name[ro]=Carduri PC/CF
Name[ru]=Карты PC/CF
Name[sk]=PC/CF karty
Name[sl]=PC/CF Kartice
Name[sv]=PC/CF-kort
Name[vi]=Thẻ PC/CF
Name[wa]=Cåtes PC/CF
Name[zh_CN]=PC/CF 卡
Comment=PC/CF Cards info and config
Comment[cs]=Nastavení a informace o PC/CF kartách
Comment[da]=PC/CF-kort info og konfig
Comment[de]=PC/CF-Steckplatz-Information
Comment[fi]=PC/CF-korttitiedot ja asetukset
Comment[fr]=Informations et configuration des cartes PC/CF
Comment[id]=Info dan pengaturan Kartu PC/CF
Comment[ja]=PCMCIA/CF カードの情報と設定
Comment[ko]=PC/CF 카드 정보와 설정
Comment[nl]=Info en instellingen van PC/CF-kaarten
Comment[pt]=Configuração e informações acerca dos cartões PC/CF
Comment[pt_BR]=Configuração dos cartões PC/CF
Comment[ro]=Informaţii şi configurare carduri PC/CF.
Comment[ru]=Информация и настройки карт PC/CF
Comment[sk]=Informácie o PC/CF kartách a ich konfigurácia
Comment[sl]=Nastavitve in podrobnosti PC/CF kartic
Comment[sv]=Information och konfiguration av PC/CF-kort
Comment[vi]=Thông tin và cấu hình thẻ PC/CF
Comment[wa]=Informåcion ey apontiaedje des cåtes PC/CF
Comment[zh_CN]=PC/CF 卡信息和配置
Exec=gpe-conf cardinfo
Terminal=false
Type=Application
Icon=gpe-config-cardinfo.png
Categories=Application;SystemSettings;GPE;
StartupNotify=true
X-SingleInstance=true
